# The name of the application that will appear in the title bar.
# Default: OLPC Inventario
name: MyProject Inventario

# Whether to apply strict rules on movements.
# This applies a selection of rules when movements are created. For example,
# if a "delivery" movement is created on a laptop, the next movement must be
# a return. Default true.
#enable_movement_type_checking: true

# Whether laptop repairs require bank deposits in order to be carried out.
# Default true
#repairs_require_deposits: true
