# The name of the application that will appear in the title bar.
# Default: OLPC Inventario
name: MyProject Inventario

# Whether to apply strict rules on movements.
# This applies a selection of rules when movements are created. For example,
# if a "delivery" movement is created on a laptop, the next movement must be
# a return. Default true.
#enable_movement_type_checking: true

# Whether laptop repairs require bank deposits in order to be carried out.
# Default true
#repairs_require_deposits: true

# When producing barcodes/physical box labels, whether to pack 6 laptops into
# a box if it would avoid having boxes with only 1 or 2 laptops at the end.
# Default false.
#overpack_boxes: false

# Set the timezone in which times/dates will be shown. By default UTC is used.
# Pick a value from "rake time:zones:all"
#timezone: Central America
