
<br>
<br>
<br>
<center>

<B><U><%= @title %></B></U><br>
<B><U><%= @date %></B></U><br>

<table border=1>

<% @matrix.each { |f|  %>
   <tr>
      <% f.each { |col|  %>
         <td> <%= col ? col : "&nbsp;" -%> </td>
      <% } %>
   </tr>
<% } %>


</table>
</center>
